.home-page {
    background: url("../assets/concert.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width:100%;
}

.container{
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 350px;
    background: #5890ff;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.wrapper .input-box {
    position: relative;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    background-color: #9ec0ff;
    color: #000000;
    text-align: center;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
}

.input-box input::placeholder {
    color: #000000;
}

.wrapper button {
    width: 75%;
    height: 45px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 50px;
    margin: 20px;
}

.wrapper button:hover {
    color: #000000;
}

.wrapper a {
    color: #000000;
}

.wrapper a:hover {
    color: #ffffff;
}

.wrapper .register {
    margin-bottom: 10px;
}

.wrapper .icon {
    margin-right: 10px;
}

/* Additional styles for the registration form */
.wrapper h1 {
    color: #ffffff;
}

.wrapper .login p {
    color: #ffffff;
}