.home-page {
    background: url("../assets/concert.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width:100%;
}

.nav-fullwidth {
    height: 60px;
    width: 100%;
}

.main-header {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: none;
}

.header-content {
    /*background-color: grey;*/
    padding: 2rem;
    color: azure;
    margin-bottom: 2rem; /* Adjust as needed */
}

.navbar .navbar-brand {
    font-weight: bold;
}

.chat-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000; /* High z-index to keep it above other content */
}

.chat-message {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
}

.user-message {
    background-color: #007bff;
    color: white;
    margin-left: 20%;
    text-align: right;
}

.chat-history {
    display: flex;
    flex-direction: column;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
    word-break: break-word; /* This prevents text from overflowing */
}

.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end; /* Aligns user messages to the right */
    text-align: right;
}

.admin-message {
    background-color: #e0e0e0;
    color: black;
    align-self: flex-start; /* Aligns admin messages to the left */
    text-align: left;
}

.btn-styles {
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    /*font-weight: bold;*/
    cursor: pointer;
}

.custom-nav-links {
    color: yellow;
    text-shadow: none;
}

.custom-nav-links:hover {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}