html, body {
    height: 100%;
    margin: 0;
}

#root { /* assuming you are using React, it usually mounts here */
    height: 100%;
}

.container {
    min-height: 100%; /* This will ensure the container takes up at least the full height of the viewport */
}

.wrapper {
    width: 350px;
    background: #5890ff;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.wrapper .input-box {
    position: relative;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    background-color: #9ec0ff;
    color: #000000;
    text-align: center;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
}

.input-box input::placeholder {
    color: #000000;
}

.wrapper button {
    width: 75%;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 50px;
    margin: 20px;
}

.wrapper button:hover {
    color: #000000;
}

.wrapper a {
    color: #000000;
}

.wrapper a:hover {
    color: #ffffff;
}

.wrapper .register {
    margin-bottom: 10px;
}

.wrapper .icon {
    margin-right: 10px;
}

.wrapper h1 {
    color: #ffffff;
}

.wrapper .login p {
    color: #ffffff;
}